body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

/* map */
svg {
    width: 100%;
    padding: 1em 0em 1em 0em;
}


/* map interaction styling */
.selected {
    opacity: .5;
}
.clickable {
    cursor: pointer;
}



/* tooltips */
#blurbHeadline {
    font-weight: 700;
    font-size: 1.2em;
}


path:hover, path:active {
   opacity: .5;
}

/*  project-specific styles for map and legend */

.first {   
    fill:#cfdddb;
    color:#cfdddb;
    stroke-weight: 3px;
    stroke-color: #000;
}
.second {    
    fill:#a6c5c0;
    color: #a6c5c0;
}
.third {
	fill: #7fafa8;
    color:#7fafa8;
}
.fourth { 
    fill:#078e81;
    color:#078e81;
}

.fifth { 
    fill:#244b3d;
    color: #244b3d;
}
