.container {
    padding: 10px 5px 20px 5px;
    width: 100%;
    border-bottom: 1px solid #000;
}

/*text styles*/

body {
  font-family: 'Open Sans', sans-serif;
}

h2 {
    font-weight: 700;
    font-size: 2em;
}

.source {
    font-size: .8em;
}


/* map */
svg {
    width: 100%;
    padding: 1em 0em 1em 0em;
}


/* map interaction styling */
.selected {
    opacity: .3;
}

.clickable {
    cursor: pointer;
}


/* tooltips */
#blurbHeadline {
    font-weight: 700;
    font-size: 1.2em;
}

#blurb {
    background-color: #eee;
    border: 1px solid #ccc;
    padding: .5em 1em 1em 1em;
    margin: 1em 0em 1em 0em;
}

path:hover, path:active {
   opacity: .3;
}

/*  project-specific styles for map and legend */

.first {   
    fill:#cfdddb;
    color:#cfdddb;
}
.second {    
    fill:#a6c5c0;
    color: #a6c5c0;
}
.third {
	fill: #7fafa8;
    color:#7fafa8;
}
.fourth { 
    fill:#078e81;
    color:#078e81;
}

.fifth { 
    fill:#244b3d;
    color: #244b3d;
}
